header {
  display: flex;
  margin-bottom: 1rem;
  gap: 1.5rem;
}

label {
  cursor: pointer;
}

.form-control {
  display: flex;
  align-items: center;
  input {
    padding-inline: 0.25rem;
    margin-left: 0.25rem;
  }
}
